*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(img/background.png);
}

body p{
    margin-top: 80px;
    text-transform: capitalize;
    font-size: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(240, 244, 255);
}

.cookie-section #cookie{
    scale: 0.8;
    cursor: pointer;
}

ul li img{
    margin: 0px 15px 35px;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
}

.cookie-section button{
    padding: 8px 63px;
    font-size: 17px;
    background-color: #0060ae;
    border: 2px solid #0060ae;
    color: #ffffff;
    letter-spacing: 5px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.cookie-section button:hover{
    background: #55aaef;
    color: #003c6d;
    transition-duration: 0.5s;
}

ul li{
    display: inline-block;
    list-style-type: none;
}

.legend{
    
    background: url(img/background-mini.jpg);
    margin-top: 80px;
    padding: 15px;
    border: 2px solid #2b1d12;
    color: white;
    text-transform: capitalize;
    border-radius: 18px;
    margin-left: 35px;
}

.legend .legend-item{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
}

.legend .legend-item img{
    margin-right: 5px;
}