*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background: url(img/background.png);
}

img{
    margin-top: 45px;
    border-radius: 50%;
    background: transparent;
}

img{
    cursor: pointer;
}
